<header>
  <div class="top-navbar background-dark" *ngIf="!isHome">
    <div class="container">
      <div class="row">
        <div class="col-medium-8">
          <div class="info-box">
            <ul class="box-contact">
              <li *ngIf="!isLogin" class="box-contact-item">
                <span class="text-contact">
                  <i class="fas fa-map"></i>Address
                </span>
                Califonia, TX 70240
              </li>
              <li *ngIf="!isLogin" class="box-contact-item">
                <span class="text-contact">
                  <i class="fas fa-envelope-open"></i>Email
                </span>
                info@gmail.com
              </li>
              <li *ngIf="!isLogin" class="box-contact-item">
                <span class="text-contact">
                  <i class="fas fa-phone"></i>Contact
                </span>
                +84905 888 584
              </li>
              <p class="header-text" *ngIf="isLogin"><i class="fas fa-user"></i>Hello, {{curentEmail.userName}}</p>
            </ul>
          </div>
        </div>
        <div class="col-medium-4 user-login">
          <a *ngIf="!isLogin" class="popup-with-form" (click)="showFormRegister()"><i class="fas fa-edit"></i>Register</a>
          <a *ngIf="!isLogin" class="popup-with-form" (click)="showFormLogin()"><i class="fas fa-user"></i>Login</a>
          <a routerLink="/" class="header-text" *ngIf="isLogin" (click)="logOut()"><i class="fas fa-sign-out-alt"></i>Log Out</a>
        </div>
      </div>
    </div>
  </div>
</header>
<header class="page-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light navbar-header">
      <a href="#"><img src="./assets/images/logo.png" class="img-logo" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav nav">
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              HOME
            </a>
            <div class="dropdown-menu">
              <a routerLink="/home" class="dropdown-item">Home Version One</a>
              <a href="#" class="dropdown-item">Home Version Two</a>
              <a href="#" class="dropdown-item">Home Version Three</a>
              <a href="#" class="dropdown-item">Home Version Four</a>
              <a href="#" class="dropdown-item">Home Version Five</a>
              <a href="#" class="dropdown-item">Home Version Six</a>
              <a href="#" class="dropdown-item">Onepage Version One</a>
              <a href="#" class="dropdown-item">Onepage Version Two</a>
              <a href="#" class="dropdown-item">Onepage Version Three</a>
              <a href="#" class="dropdown-item">Onepage Version Four</a>
              <a href="#" class="dropdown-item">Onepage Version Five</a>
              <a href="#" class="dropdown-item">Onepage Version Six</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              PAGES
            </a>
            <div class="dropdown-menu nav-menu">
              <div class="row">
                <div class="col-3 pd-item">
                  <h6>Gallery</h6>
                  <ul>
                    <li><a href="#" class="dropdown-item">Gallery Two Column</a></li>
                    <li><a href="#" class="dropdown-item">Gallery Three Column</a></li>
                    <li><a href="#" class="dropdown-item">Gallery Four Column</a></li>
                    <li><a href="#" class="dropdown-item">Gallery Five Column</a></li>
                  </ul>
                </div>
                <div class="col-3 pd-item">
                  <h6>Advisor</h6>
                  <ul>
                    <li><a href="#" class="dropdown-item">Advisor Carousel</a></li>
                    <li><a href="#" class="dropdown-item">Advisor Two Colum</a></li>
                    <li><a href="#" class="dropdown-item">Advisor Three Colum</a></li>
                    <li><a href="#" class="dropdown-item">Advisor Carousel Two</a></li>
                  </ul>
                </div>
                <div class="col-3 pd-item">
                  <h6>User Pages</h6>
                  <ul>
                    <li><a href="#" class="dropdown-item">Profile</a></li>
                    <li><a href="#" class="dropdown-item">Edit Profile</a></li>
                    <li><a href="#" class="dropdown-item">login</a></li>
                    <li><a href="#" class="dropdown-item">Register</a></li>
                  </ul>
                </div>
                <div class="col-3 pd-item">
                  <h6>Orther</h6>
                  <ul>
                    <li><a href="#" class="dropdown-item">About Us</a></li>
                    <li><a href="#" class="dropdown-item">Faq</a></li>
                    <li><a href="#" class="dropdown-item">Pricing Table</a></li>
                    <li><a href="#" class="dropdown-item">Contact</a></li>
                    <li><a href="#" class="dropdown-item">Error Page</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              COURSES
            </a>
            <div class="dropdown-menu">
              <ul>
                <li><a routerLink="/courses" class="dropdown-item">Courses Carousel One</a></li>
                <li><a href="#" class="dropdown-item">Courses Grid One</a></li>
                <li><a href="#" class="dropdown-item">Courses Grid Two</a></li>
                <li><a href="#" class="dropdown-item">Courses Carousel Two</a></li>
                <li><a routerLink="/coursesDetail" class="dropdown-item">Course Details</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              TEACHERS
            </a>
            <div class="dropdown-menu">
              <ul>
                <li><a routerLink="/advisor" class="dropdown-item">Advisor</a></li>
                <li><a routerLink="/advisorDetail" class="dropdown-item">Advisor Details</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              EVENT
            </a>
            <div class="dropdown-menu">
              <ul>
                <li><a href="#" class="dropdown-item">Event Mixed Colum</a></li>
                <li><a href="#" class="dropdown-item">Event Grid Colum</a></li>
                <li><a href="#" class="dropdown-item">Event Carousel</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              BLOG
            </a>
            <div class="dropdown-menu">
              <ul>
                <li><a href="#" class="dropdown-item">Blog Standard</a></li>
                <li><a href="#" class="dropdown-item">Blog Left Sidebar</a></li>
                <li><a href="#" class="dropdown-item">Blog Right Sidebar</a></li>
                <li><a href="#" class="dropdown-item">Single Standard</a></li>
                <li><a href="#" class="dropdown-item">Single Left Sidebar</a></li>
                <li><a href="#" class="dropdown-item">Single Right Sidebar</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a routerLink="/contact" class="dropdown-contact" style="font-weight: 600;">
              CONTACT
            </a>
          </li>
          <li class="nav-item dropdown">
            <a (click)="showInputSearch=!showInputSearch">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </li>
          <li class="side-menu" *ngIf="showHeader" (click)="showMenuSide=!showMenuSide">
            <i class="fa fa-bars"></i>
          </li>
        </ul>
      </div>
      <!-- <div class="top-search" *ngIf="showInputSearch">
        <div class="input-group">
          <form>
            <input type="text" name="text" class="form-control" placeholder="Search">
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div> -->
      <div class="side" [class.move]="showMenuSide">
        <a class="close-menu-side"><i class="fa fa-times" (click)="showMenuSide=false"></i></a>
        <div class="menu-side">
          <h4 class="title-menu-side">users pages</h4>
          <div class="profile-thumb">
            <img class="avt-profile-side" src="./assets/images/review4.jpg" alt="">
          </div>
          <ul>
            <li class="list-item-side">Profile</li>
            <li class="list-item-side">Courses</li>
            <li class="list-item-side">Recent Order </li>
            <li class="list-item-side">Edit Profile</li>
            <li class="list-item-side">Logout</li>
          </ul>
        </div>
        <div class="menu-side">
          <h4 class="title-menu-side">Additional Links</h4>
          <ul>
            <li class="list-item-side">About</li>
            <li class="list-item-side">Portfolio</li>
            <li class="list-item-side">project</li>
            <li class="list-item-side">Rating</li>
            <li class="list-item-side">Popular courses</li>
          </ul>
        </div>
        <div class="menu-side-social">
          <h4 class="title-menu-side">Connect with us</h4>
          <ul class="link-social">
            <li class="facebook"><a class="bg-facebook icon-social" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="twitter"><a class="bg-twitter icon-social" href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="pinterest"><a class="bg-pinterest icon-social" href="#"><i class="fab fa-pinterest"></i></a></li>
            <li class="dribbble"><a class="bg-dribbble icon-social" href="#"><i class="fab fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>