<header>
  <div class="top-navbar background-dark">
    <div class="container">
      <div class="row">
        <div class="col-medium-8">
          <div class="info-box">
            <ul class="box-contact">
              <li class="box-contact-item">
                <span class="text-contact">
                  <i class="fas fa-map"></i>Address
                </span>
                Califonia, TX 70240
              </li>
              <li class="box-contact-item">
                <span class="text-contact">
                  <i class="fas fa-envelope-open"></i>Email
                </span>
                info@gmail.com
              </li>
              <li class="box-contact-item">
                <span class="text-contact">
                  <i class="fas fa-phone"></i>Contact
                </span>
                +84905 888 584
              </li>
            </ul>
          </div>
        </div>
        <div class="col-medium-4 user-login">
          <a href="#" class="popup-with-form"><i class="fas fa-edit"></i>Register</a>
          <a href="#" class="popup-with-form"><i class="fas fa-user"></i>Login</a>
        </div>
      </div>
    </div>
  </div>
</header>
<header class="page-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light navbar-header">
      <a href="#"><img src="./assets/images/logo.png" class="img-logo" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav nav">
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              HOME
            </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Home Version One</a>
              <a href="#" class="dropdown-item">Home Version Two</a>
              <a href="#" class="dropdown-item">Home Version Three</a>
              <a href="#" class="dropdown-item">Home Version Four</a>
              <a href="#" class="dropdown-item">Home Version Five</a>
              <a href="#" class="dropdown-item">Home Version Six</a>
              <a href="#" class="dropdown-item">Onepage Version One</a>
              <a href="#" class="dropdown-item">Onepage Version Two</a>
              <a href="#" class="dropdown-item">Onepage Version Three</a>
              <a href="#" class="dropdown-item">Onepage Version Four</a>
              <a href="#" class="dropdown-item">Onepage Version Five</a>
              <a href="#" class="dropdown-item">Onepage Version Six</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              PAGES
            </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">About us</a>
              <a href="#" class="dropdown-item">Contact</a>
              <a href="#" class="dropdown-item">Services</a>
              <a href="#" class="dropdown-item">Info</a>
              <a href="#" class="dropdown-item">FAQ</a>
              <a href="#" class="dropdown-item">Pricing</a>
              <a href="#" class="dropdown-item">Comingsoon</a>
              <a href="#" class="dropdown-item">Maintances</a>
              <a href="#" class="dropdown-item">Team</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              COURSES
            </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Default work</a>
              <a href="#" class="dropdown-item">Grid word</a>
              <a href="#" class="dropdown-item">Full width work</a>
              <a href="#" class="dropdown-item">Single work</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              TEACHERS
            </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Blog 2 column</a>
              <a href="#" class="dropdown-item">Blog 3 column</a>
              <a href="#" class="dropdown-item">Blog 4 column</a>
              <a href="#" class="dropdown-item">Left Sidebar</a>
              <a href="#" class="dropdown-item">Right Sidebar</a>
              <a href="#" class="dropdown-item">Full width</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              EVENT
            </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Blog 2 column</a>
              <a href="#" class="dropdown-item">Blog 3 column</a>
              <a href="#" class="dropdown-item">Blog 4 column</a>
              <a href="#" class="dropdown-item">Left Sidebar</a>
              <a href="#" class="dropdown-item">Right Sidebar</a>
              <a href="#" class="dropdown-item">Full width</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              BLOG
            </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Blog 2 column</a>
              <a href="#" class="dropdown-item">Blog 3 column</a>
              <a href="#" class="dropdown-item">Blog 4 column</a>
              <a href="#" class="dropdown-item">Left Sidebar</a>
              <a href="#" class="dropdown-item">Right Sidebar</a>
              <a href="#" class="dropdown-item">Full width</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              CONTACT
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="nav-link">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
