<header>
  <div class="top-navbar bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="info-box">
            <ul class="box-contact">
              <li class="box-contact-item">
                <span class="text-contact">
                  <i class="fas fa-map"></i>Address
                </span>
                Califonia, TX 70240
              </li>
              <li class="box-contact-item">
                <span class="text-contact">
                  <i class="fas fa-envelope-open"></i>Email
                </span>
                info@gmail.com
              </li>
              <li class="box-contact-item">
                <span class="text-contact">
                  <i class="fas fa-phone"></i>Contact
                </span>
                +84905 888 584
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4 user-login">
          <a href="#" class="popup-with-form"><i class="fas fa-edit"></i>Register</a>
          <a href="#" class="popup-with-form"><i class="fas fa-user"></i>Login</a>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar">
    <div class="container">
      <div class="navbar-general">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" class="logo" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-right navbar-item">
            <li class="dropdown"><a class="navbar-link" href="">Home</a></li>
            <li class="dropdown"><a class="navbar-link" href="">Pages</a></li>
            <li class="dropdown"><a class="navbar-link" href="">Courses</a></li>
            <li class="dropdown"><a class="navbar-link" href="">Teachers</a></li>
            <li class="dropdown"><a class="navbar-link" href="">Event</a></li>
            <li class="dropdown"><a class="navbar-link" href="">Blog</a></li>
            <li class="dropdown"><a class="navbar-link" href="">Contact</a></li>
            <li><a href=""><i class="fas fa-search"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>