<section class="about-area">
  <div class="container">
    <div class="about-info">
      <div class="row">
        <div class="col-large-6 col-small-12 col-medium-9 col-large-3">
          <img class="img-about" src="./assets/images/about.jpg" alt="">
        </div>
        <div class="col-large-6 col-small-12 col-medium-6 info">
          <h5>introduction</h5>
          <h3>Welcome To The Beigest Online Learning Source Of Eduka</h3>
          <p>Alteration literature to or an sympathize mr imprudence. Of is ferrars subject as enjoyed or tedious
            cottage. Procuring as in resembled by in agreeable. Next long no gave mr eyes. Admiration advantages no he
            celebrated so pianoforte unreserved. Not its herself forming charmed amiable. Him why feebly expect future
            now.</p>
          <p>Curiosity incommode now led smallness allowance. Favour bed assure son things yet. She consisted consulted
            elsewhere happiness disposing household any old the. Widow downs. Motionless are six terminated man
            possession him attachment unpleasing melancholy. Sir smile arose one share. No abroad in easily relied an
            whence lovers temper by.</p>
          <a class="btn btn-primary btn-md" href="#">read more</a>
        </div>
        <div class="separator">
          <span class="border"></span>
        </div>
      </div>

      <div class="our-features">
        <div class="row">
          <div class="col-large-4 col-medium-4 col-smallest-12">
            <div class="item-mariner">
              <div class="item-feature">
                <div class="img-shield">
                  <img class="flaticon-faculty-shield" src="./assets/images/facultyshield.png" alt="">
                </div>
                <div class="info-feature">
                  <h6>Expert faculty</h6>
                  <a href="">read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-large-4 col-medium-4 col-smallest-12">
            <div class="item-mariner">
              <div class="item-feature">
                <div class="img-shield">
                  <img class="flaticon-faculty-shield" src="./assets/images/facultyshield.png" alt="">
                </div>
                <div class="info-feature">
                  <h6>Online Learning</h6>
                  <a href="">read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-large-4 col-medium-4 col-smallest-12">
            <div class="item-mariner">
              <div class="item-feature">
                <div class="img-shield">
                  <img class="flaticon-faculty-shield" src="./assets/images/facultyshield.png" alt="">
                </div>
                <div class="info-feature">
                  <h6>scholarship</h6>
                  <a href="">read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
