* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  overflow-x: hidden;
  background-color: #ffffff;
  a{
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}