// == Breakpoints ===
$breakpoints: (
  smallest : 320px,
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px,
  biggest:1400px
);
$primary: #002147;
$secondary: #ffb606;
$grey: #666666;
$white: #fff;
$black: #000;
$text-grey-secondary: #cccccc;
$gray: #f5f5f5;
$red: #f44336;

$hover-secondary: #ffd134;
