<section class="fun-factor-area">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="fun-fact">
          <div class="icon">
            <img src="" alt="">
          </div>
          <div class="info">
            <span class="timer" data-to="212" data-speed="5000">212</span>
            <span class="medium">Best Teachers</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="fun-fact">
          <div class="icon">
            <img src="" alt="">
          </div>
          <div class="info">
            <span class="timer" data-to="128" data-speed="5000">128</span>
            <span class="medium">National Awards</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="fun-fact">
          <div class="icon">
            <img src="" alt="">
          </div>
          <div class="info">
            <span class="timer" data-to="8970" data-speed="5000">8970</span>
            <span class="medium">Students Enrolled</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="fun-fact">
          <div class="icon">
            <img src="" alt="">
          </div>
          <div class="info">
            <span class="timer" data-to="640" data-speed="5000">640</span>
            <span class="medium">Cources</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>