.slide-set-m {
  .carousel-slide {
    position: relative;
    width: 100%;
    .shadow {
      position: relative;
      z-index: 1;
    }
    .content-box-cell {
      position: absolute;
      top: 50%;
    }
  }
  .banner {
    height: 778px;
  }
  .banner-text {
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.bg-cover {
  background-position: center;
  background-size: cover;
}
