<div class=" wcu-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 bg-cover">
        <!-- <img src="./assets/images/banner2.jpg" alt=""> -->
      </div>
      <div class="col-6 bg-dark">
        <div class="site-heading">
          <h2>Why choose us</h2>
          <p>Discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude
            inhabiting projection off. Connection stimulated estimating excellence an to impression.</p>
        </div>
        <div class="item-mariner">
          <div class="img-shield">
            <img class="flaticon-trending" src="./assets/images/trending.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
