.courses-detail {
  .courses-detail-info {
    .tab-content {
      @include pxRem(padding-bottom, 80);
      .title-courses {
        @include pxRem(margin-bottom, 15);
        @include pxRem(margin-top, 15);
        font-weight: 600;
        text-transform: uppercase;
      }
      .item {
        @include pxRem(margin-bottom, 30);
        @include pxRem(padding, 30);
        display: flex;
        border: 1px solid #e7e7e7;
        .img-item-advisor {
          @include pxRem(max-width, 150);
          @include pxRem(max-height, 150);
        }
        .info {
          @include pxRem(padding-left, 20);
          .text-advisor {
            @include pxRem(margin, 0 0 15);
            color: $grey;
          }
          .name-advisor {
            @include pxRem(margin-bottom, 5);
            font-weight: 500;
            text-transform: uppercase;
          }
          .position-advisor {
            @include pxRem(margin-bottom, 10);
            color: $secondary;
            font-weight: 500;
            text-transform: uppercase;
          }
          .icon-contact {
            @include pxRem(padding-top, 18);
            border-top: 1px solid #e7e7e7;
            display: flex;
            .icon-contact-detail {
              @include pxRem(width, 35);
              @include pxRem(line-height, 37);
              @include pxRem(height, 35);
              @include pxRem(font-size, 12);
              border: 1px solid #e7e7e7;
              color: #002147;
              display: inline-block;
              text-align: center;
            }
            .mg-icon-contact {
              @include pxRem(margin-right, 5);
            }
          }
        }
      }
      li {
        @include pxRem(margin-bottom, 15);
      }
      .advisor-rating-list {
        .title-rating {
          @include pxRem(margin-bottom, 15);
          font-weight: 500;
          text-transform: uppercase;
        }
        .list-rating {
          display: flex;
          border-bottom: 3px solid $secondary;
          .rating-bar {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
          span {
            color: $primary;
            font-weight: 600;
            &:last-child {
              color: $grey;
            }
          }
        }
      }
      .panel-heading-courses {
        @include pxRem(padding, 20);
        @include pxRem(margin-bottom, 15);
        background: $white;
        display: block;
        border: 1px solid #e7e7e7;
        &:hover {
          cursor: pointer;
        }
        .list-courses {
          &::after {
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
          }
        }
      }
      .panel-content-body {
        .panel-item {
          @include pxRem(padding, 10 15);
          @include pxRem(margin-bottom, 15);
          display: flex;
          justify-content: space-between;
          background: #f7f7f7;
        }
        .panel-content-item {
          @include pxRem(padding, 20);
          border: 1px solid #e7e7e7;
        }
      }
      .title-list-panel {
        @include pxRem(margin, 15 0);
        font-weight: 600;
        text-transform: uppercase;
        &::after {
          @include pxRem(top, 17);
          @include pxRem(font-size, 20);
          @include pxRem(right, 10);
          content: "\f107";
          position: absolute;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: #002147;
        }
      }
    }
    .img-courses-detail {
      max-width: 100%;
    }
    .info-author {
      @include pxRem(margin-top, 25);
      @include pxRem(margin-bottom, 25);
      @include pxRem(padding, 15 0);
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e7e7e7;
      .item-author {
        display: flex;
      }
      .title-courses-info {
        font-weight: 600;
        text-transform: uppercase;
      }
      .text-author {
        color: $grey;
      }
    }
    .btn-tab {
      @include pxRem(margin-bottom, 15);
      display: flex;
    }
    .title-courses-detail {
      font-weight: 600;
      margin-bottom: 25px;
    }
  }
  .avt-courses {
    @include pxRem(height, 50);
    @include pxRem(padding, 2);
    @include pxRem(width, 50);
    @include pxRem(margin-right, 10);
    border: 1px solid #e7e7e7;
    border-radius: 50%;
  }
}
.courses-margin-author {
  @include pxRem(margin-left, 20);
  @include pxRem(padding-left, 20);
  border-left: 1px dashed #999999;
}
.sidebar {
  @include pxRem(padding-left, 35);
  .title-post {
    @include pxRem(margin-bottom, 20);
    @include pxRem(padding-bottom, 15);
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
  }
  .sidebar-search {
    @include pxRem(margin-bottom, 40);
    display: flex;
    .input-search {
      @include pxRem(padding, 9 12);
      @include pxRem(font-size, 14);
      display: block;
      width: 100%;
      color: $grey;
    }
  }
  .sidebar-info {
    .list-item-sidebar {
      @include pxRem(margin-bottom, 10);
      @include pxRem(padding-bottom, 10);
      border-bottom: 1px dashed #999999;
      .text-sidebar {
        display: flex;
        justify-content: space-between;
        color: $grey;
        width: 100%;
        text-transform: capitalize;
        z-index: 1;
        span {
          @include pxRem(border-radius, 5);
          @include pxRem(padding, 0 5);
          background: #f4f4f4;
          color: $primary;
          right: 0;
          text-align: center;
        }
      }
    }
  }
  .sidebar-item-post {
    .content {
      display: flex;
      .thumb {
        @include pxRem(width, 80);
        @include pxRem(height, 80);
        padding: 0;
        .img-post-sidebar {
          max-width: 100%;
        }
      }
      .info {
        @include pxRem(padding-left, 15);
        .text-info-post {
          color: $primary;
        }
      }
    }
  }
}
