<div class="container">
  <form action="#" id="register-form" class="form-popup">
    <div class="row">
      <div class="col-md-4 login-social">
        <h4>Register with social</h4>
        <ul class="social">
          <li class="facebook mg-right">
            <a class="icon-form" href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="twitter mg-right">
            <a class="icon-form" href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="linkedin">
            <a class="icon-form" href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-8 login-custom">
        <h4>Register with social</h4>
        <div class="form-register">
          <div class="form-group">
            <input class="form-control" placeholder="Email*" type="email">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Password*" type="password">
          </div>
          <div class="">
            <label for="login-remember"><input type="checkbox" id="login-remember">Remember Me</label>
            <a title="Lost Password" href="#" class="lost-pass-link">Lost your password?</a>
          </div>
          <button class="btn btn-secondary">Login</button>
          <p class="link-bottom">Not a member yet? <a href="#">Register now</a></p>
        </div>
      </div>
    </div>
    <button title="Close (Esc)" type="button" class="closeForm">×</button>
  </form>
</div>