<section class="event-area">
  <div class="container">
    <div class="row">
      <div class="site-heading">
        <div class="col-12">
          <h2>Upcoming Events</h2>
          <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions
            education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along
            on happy could cease green oh.</p>
        </div>
      </div>
    </div>

    <div class="event-all">
      <div class="row">
        <div class="event-item col-medium-12 col-smallest-12 col-large-6">
          <div class="item">
            <div class="img-event" style="background-image: url('./assets/images/event1.jpg')"></div>
            <div class="date">
              <h4><span>12</span> Dec, 2018</h4>
            </div>
          </div>
        </div>
        <div class="col-medium-12 col-smallest-12 col-large-6">
          <div class="event-info box-shadow">
            <h4><a class="event-title" href="">Secondary Schools United Nations</a></h4>
            <div class="meta">
              <ul>
                <li><i class="fas fa-calendar-alt"></i> 15 Oct, 2019</li>
                <li><i class="fas fa-clock"></i>8:00 AM - 5:00 PM</li>
                <li><i class="fas fa-map"></i> California, TX 70240 </li>
              </ul>
            </div>
            <p>Early had add equal china quiet visit. Appear an manner as no limits either praise in. In in written on
              charmed justice is amiable farther besides. Law insensible middletons unsatiable for apartments boy
              delightful unreserved.</p>
            <a class="btn btn-dark btn-sm btn-mg" href=""><i class="fas fa-chart-bar"></i>Book now</a>
            <a class="btn btn-grey btn-sm btn-mg" href=""><i class="fas fa-ticket-alt"></i>189 Available</a>
          </div>
        </div>
      </div>
    </div>

    <div class="vetical-all">
      <div class="row">
        <div class="vetical-item col-medium-6" *ngFor="let vetical of veticals">
          <div class="item">
            <img class="img-vetical" src="{{vetical.img}}" alt="">
            <div class="date">
              <h4><span>27</span>Feb, 2019</h4>
            </div>
          </div>
          <div class="info box-shadow">
            <h4><a class="event-title" href="#">{{vetical.title}}</a></h4>
            <div class="meta">
              <ul>
                <li><i class="fas fa-calendar-alt"></i> 15 Oct, 2019</li>
                <li><i class="fas fa-clock"></i>8:00 AM - 5:00 PM</li>
                <li><i class="fas fa-map"></i> California, TX 70240 </li>
              </ul>
            </div>
            <p>Early had add equal china quiet visit. Appear an manner as no limits either praise in. In in written on
              charmed justice is amiable farther besides. Law insensible middletons unsatiable for apartments boy
              delightful unreserved.</p>
            <a class="btn btn-dark btn-sm btn-mg" href=""><i class="fas fa-chart-bar"></i>Book now</a>
            <a class="btn btn-grey btn-sm btn-mg" href=""><i class="fas fa-ticket-alt"></i>43 Available</a>
          </div>
        </div>
      </div>
    </div>
    <div class="event-all">
      <div class="row">
        <div class="event-item col-medium-12 col-smallest-12 col-large-6">

          <div class="item">
            <div class="img-event" style="background-image: url('./assets/images/event4.jpg');"></div>
            <div class="date">
              <h4><span>12</span> Dec, 2018</h4>
            </div>
          </div>
        </div>
        <div class="col-medium-12 col-smallest-12 col-large-6 box-shadow">
          <div class="event-info">
            <h4><a class="event-title" href="">International Conference on Art Business</a></h4>
            <div class="meta">
              <ul>
                <li><i class="fas fa-calendar-alt"></i> 15 Oct, 2019</li>
                <li><i class="fas fa-clock"></i>8:00 AM - 5:00 PM</li>
                <li><i class="fas fa-map"></i> California, TX 70240 </li>
              </ul>
            </div>
            <p>Early had add equal china quiet visit. Appear an manner as no limits either praise in. In in written on
              charmed justice is amiable farther besides. Law insensible middletons unsatiable for apartments boy
              delightful unreserved.</p>
            <a class="btn btn-dark btn-sm btn-mg" href=""><i class="fas fa-chart-bar"></i>Book now</a>
            <a class="btn btn-grey btn-sm btn-mg" href=""><i class="fas fa-ticket-alt"></i>12 Available</a>
          </div>
        </div>
      </div>
    </div>
    <div class="button-center">
      <a class="btn btn-primary btn-sm " href="#">view all events</a>
    </div>
  </div>
</section>