<div class="slide-set-m container-fluid">
  <carousel [isAnimated]="true">
    <slide class="carousel-slide slide-thumb">
      <div class="banner shadow-dark bg-cover" style="background-image: url('./assets/images/slide1.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-small-12 col-medium-9 col-lagre-3">
            <section class="content-box-cell">
              <h3 class="banner-text">Reach you career</h3>
              <h1 class="banner-text">Learn from best online training course</h1>
              <a class="btn btn-light btn-mg btn-md" href="">Learn more</a>
              <a class="btn btn-secondary btn-md" href="">View courses</a>
            </section>
          </div>
        </div>
      </div>
    </slide>
    <slide class="carousel-slide">
      <div class="banner shadow-dark bg-cover" style="background-image: url('./assets/images/slide2.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-small-12 col-medium-9 col-lagre-3">
            <section class="content-box-cell">
              <h3 class="banner-text">We're glade to see you</h3>
              <h1 class="banner-text">explore our brilliant graduates</h1>
              <a class="btn btn-light btn-mg btn-md" href="">Learn more</a>
              <a class="btn btn-secondary btn-md" href="">View courses</a>
            </section>
          </div>
        </div>
      </div>
    </slide>
    <slide class="carousel-slide">
      <div class="banner shadow-dark bg-cover" style="background-image: url('./assets/images/slide3.jpg')"></div>
      <div class="container">
        <section class="content-box-cell">
          <h3 class="banner-text">The goal of education</h3>
          <h1 class="banner-text">Join the bigest comunity of eduka</h1>
          <a class="btn btn-light btn-mg btn-md" href="">Learn more</a>
          <a class="btn btn-secondary btn-md" href="">View courses</a>
        </section>
      </div>
    </slide>
  </carousel>
</div>