<div class="slide-set-m container-fluid">
  <carousel [isAnimated]="true">
    <slide class="carousel-slide slide-thumb">
      <img src="./assets/images/slide1.jpg" alt="first slide" class="banner shadow-dark">
      <div class="container">
        <section class="content-box-cell">
          <h3 class="banner-text">Reach you career</h3>
          <h1 class="banner-text">Learn from best online training course</h1>
          <a class="btn btn-light btn-mg btn-md" href="">Learn more</a>
          <a class="btn btn-secondary btn-md" href="">View courses</a>
        </section>
      </div>
    </slide>
    <slide class="carousel-slide">
      <img src="./assets/images/slide2.jpg" alt="second slide" class="banner">
      <div class="container">
        <section class="content-box-cell">
          <h3 class="banner-text">We're glade to see you</h3>
          <h1 class="banner-text">explore our brilliant graduates</h1>
          <a class="btn btn-light btn-mg btn-md" href="">Learn more</a>
          <a class="btn btn-secondary btn-md" href="">View courses</a>
        </section>
      </div>
    </slide>
    <slide class="carousel-slide">
      <img src="./assets/images/slide3.jpg" alt="third slide" class="banner">
      <div class="container">
        <section class="content-box-cell">
          <h3 class="banner-text">The goal of education</h3>
          <h1 class="banner-text">Join the bigest comunity of eduka</h1>
          <a class="btn btn-light btn-mg btn-md" href="">Learn more</a>
          <a class="btn btn-secondary btn-md" href="">View courses</a>
        </section>
      </div>
    </slide>
  </carousel>
</div>