<div class="slide-set-m">
  <carousel [isAnimated]="true">
    <slide class="carousel-slide">
      <img src="./assets/images/slide1.jpg" alt="first slide" class="banner">
          <div class="container">
            <div class="row">
              <div class="col-8">
                <section class="content-box-cell">
                  <h3>Reach you career</h3>
                  <h1>Learn from best online training course</h1>
                  <a href="">Learn more</a>
                  <a href="">View courses</a>
                </section>
              </div>
            </div>
          </div>
    </slide>
    <slide class="carousel-slide">
      <img src="./assets/images/slide2.jpg" alt="second slide" class="banner">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <section class="content-box-cell">
              <h3>We're glade to see you</h3>
              <h1>explore our brilliant graduates</h1>
              <a href="">Learn more</a>
              <a href="">View courses</a>
            </section>
          </div>
        </div>
      </div>
    </slide>
    <slide class="carousel-slide">
      <img src="./assets/images/slide3.jpg" alt="third slide" class="banner">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <section class="content-box-cell">
              <h3>The goal of education</h3>
              <h1>Join the bigest comunity of eduka</h1>
              <a href="">Learn more</a>
              <a href="">View courses</a>
            </section>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
  </div>
  <!-- <carousel [isAnimated]="true">
    <slide>
      <img src="./assets/images/slide1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        <a href="">Learn more</a>
        <a href="">View courses</a>
      </div>
    </slide>
    <slide>
      <img src="./assets/images/slide2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="">Learn more</a>
        <a href="">View courses</a>
      </div>
    </slide>
    <slide>
      <img src="./assets/images/slide3.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <a href="">Learn more</a>
        <a href="">View courses</a>
      </div>
    </slide>
  </carousel> -->