.popular-courses {
  @include pxRem(padding-top, 80);
  @include pxRem(padding-bottom, 80);
  background-color: #f9f9f9;
  .popular-slide {
    @include pxRem(margin, 16);
    .item {
      @include pxRem(border-radius, 5);
      box-shadow: 0 0 10px #cccccc;
      .thumb {
        .popular-img {
          @include pxRem(border-radius, 5 5 0 0);
          width: 100%;
        }
        .price {
          @include pxRem(font-size, 16);
          @include pxRem(padding, 8);
          background: #f4f4f4;
          border-bottom: 1px solid #e7e7e7;
          border-top: 1px solid #e7e7e7;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .info {
        @include pxRem(padding, 30);
        background: $white;
        .orthers {
          @include pxRem(margin-bottom, 20);
          @include pxRem(padding-bottom, 20);
          border-bottom: 1px dashed #666666;
        }
        h4 {
          @include pxRem(font-size, 18);
          @include pxRem(margin-bottom, 15);
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }
  }
}
.site-heading {
  @include pxRem(margin-bottom, 60);
  text-align: center;
  p {
    width: 65%;
    margin: auto;
  }
}
