<section class="testimonial-area background-dark">
  <div class="container">
    <div class="row">
      <div class="site-heading">
        <div class="col-12">
          <h2 class="student-title register-title">Students Review</h2>
          <p class="student-intro">Able an hope of body. Any nay shyness article matters own removal nothing his
            forming. Gay own additions
            education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along
            on happy could cease green oh.</p>
        </div>
      </div>
    </div>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <!-- <div class="row">
          <div class="col-12"> -->
        <div class="row student-review">
          <div class="col-small-12 col-large-5 col-medium-12 student-img">
            <img class="student-img-item" src="{{ slide.img }}" alt="" width="100%">
          </div>
          <div class="col-small-12 col-large-7 col-medium-12 student-text">
            <p class="student-text-top">
              Procuring continued suspicion its ten. Pursuit brother are had fifteen distant has. Early had add equal
              china quiet visit. Appear an manner as no limits either praise..
            </p>
            <h4 class="student-name">Ronaldo CR7</h4>
            <p class="student-job">Development Student</p>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section>