<section class="top-categoris">
  <div class="container">
    <div class="row">
      <div class="site-heading">
        <div class="col-12">
          <h2>Top Categories</h2>
          <p>
            Discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude
            inhabiting projection off. Connection stimulated estimating excellence an to impression.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="top-cat-item">
      <div class="row">
        <div class="col-smallest-12 col-medium-6 col-large-3 equal-height">
          <div class="item" style="background-image: url(./assets/images/cat1.jpg)">
            <a class="top-categories-info" href="#">
              <img src="./assets/images/iconCat.png" alt="">
              <div class="info">
                <h4>software engineering</h4>
                <span>(1,226) Topics</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-smallest-12 col-medium-6 col-large-3 equal-height">
          <div class="item" style="background-image: url(./assets/images/cat2.jpg)">
            <a class="top-categories-info" href="#">
              <img src="./assets/images/digital.png" alt="">
              <div class="info">
                <h4>Interactive Programming</h4>
                <span>(2,366) Topics</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-smallest-12 col-medium-6 col-large-3 equal-height">
          <div class="item" style="background-image: url(./assets/images/cat3.jpg)">
            <a class="top-categories-info" href="">
              <img src="./assets/images/conveyor.png" alt="">
              <div class="info">
                <h4>Quantum Mechanics</h4>
                <span>(766) Topics</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-smallest-12 col-medium-6 col-large-3 equal-height">
          <div class="item" style="background-image: url(./assets/images/cat4.jpg)">
            <a class="top-categories-info" href="">
              <img src="./assets/images/global.png" alt="">
              <div class="info">
                <h4>Preventing Dementia</h4>
                <span>(4,500) Topics</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-smallest-12 col-medium-6 col-large-3 equal-height">
          <div class="item" style="background-image: url(./assets/images/cat5.jpg)">
            <a class="top-categories-info" href="">
              <img src="./assets/images/brain.png" alt="">
              <div class="info">
                <h4>Hidden Potential</h4>
                <span>(975) Topics</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-smallest-12 col-medium-6 col-large-3 equal-height">
          <div class="item" style="background-image: url(./assets/images/cat6.jpg)">
            <a class="top-categories-info" href="">
              <img src="./assets/images/printer.png" alt="">
              <div class="info">
                <h4>Introduction Programming</h4>
                <span>(3,340) Topics</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-smallest-12 col-medium-6 col-large-3 equal-height">
          <div class="item" style="background-image: url(./assets/images/cat7.jpg)">
            <a class="top-categories-info" href="#">
              <img src="./assets/images/translation.png" alt="">
              <div class="info">
                <h4>Machine Learning</h4>
                <span>(7,800) Topics</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-smallest-12 col-medium-6 col-large-3 equal-height">
          <div class="item" style="background-image: url(./assets/images/cat8.jpg)">
            <a class="top-categories-info" href="">
              <img src="./assets/images/fire.png" alt="">
              <div class="info">
                <h4>Maintaining a Mindful</h4>
                <span>(24,80) Topics</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>